.Participate_app {
  margin-left: 5%;
  margin-right: 5%;

  .Participate_container {
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid #7882a4;
    h2 {
      cursor: pointer;
      color: #fff;
    }
    .Participate_button {
      border-radius: 16px;
      padding: 5px;
      margin-top: 1%;
      font-weight: 700;
      border: none;
      background-color: #7882a4;
    }
    .Participate_button_2 {
      border-radius: 16px;
      padding: 5px 20px;
      margin-top: 1%;
      font-weight: 700;
      margin-left: 10px;
      color: rgb(154, 106, 255);
      background: rgb(8, 6, 11);
      border: 1px solid rgb(154, 106, 255);
    }
  }
}
