.Nav_bottom_app {
  background: linear-gradient(
    139.73deg,
    rgb(49, 61, 92) 0%,
    rgb(61, 42, 84) 100%
  );
  min-height: 200px;

  .Nav_bottom_container {
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .Nav_bottom_h2 {
      font-size: 2em;
      color: rgb(154, 106, 255);
    }

    .Nav_bottom_explain {
      color: #fff;
      font-size: 1.5em;
    }

    .Nav_bottom_button {
      background-color: rgb(31, 199, 212);
      margin-top: 20px;
      font-size: 1.2em;
      color: white;
      width: max-content;
      border: none;
      padding: 15px;
      border-radius: 16px;
      cursor: pointer;

      &:hover {
        transition: 0.5s;
        transform: scale(1.05);
        background-color: rgb(31, 199, 150);
      }
    }
  }
}
